<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <display-name>board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MembersOk</display-name>
    <servlet-name>MembersOk</servlet-name>
    <servlet-class>com.inyoungserver.MembersOk</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginsOk</display-name>
    <servlet-name>LoginsOk</servlet-name>
    <servlet-class>com.inyoungserver.LoginsOk</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.inyoungserver.logout</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>MemComfirm</display-name>
    <servlet-name>MemComfirm</servlet-name>
    <servlet-class>com.inyoungserver.MemComfirm</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>MemberEdit</display-name>
    <servlet-name>MemberEdit</servlet-name>
    <servlet-class>com.inyoungserver.MemberEdit</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FindId</display-name>
    <servlet-name>FindId</servlet-name>
    <servlet-class>com.inyoungserver.FindId</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FindPw</display-name>
    <servlet-name>FindPw</servlet-name>
    <servlet-class>com.inyoungserver.FindPw</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FindIdPw</display-name>
    <servlet-name>FindIdPw</servlet-name>
    <servlet-class>com.inyoungserver.FindIdPw</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateLevel</display-name>
    <servlet-name>UpdateLevel</servlet-name>
    <servlet-class>com.inyoungserver.UpdateLevel</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>KakaoOauth</display-name>
    <servlet-name>KakaoOauth</servlet-name>
    <servlet-class>com.inyoungserver.KakaoOauth</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>KakaoLogout</display-name>
    <servlet-name>KakaoLogout</servlet-name>
    <servlet-class>com.inyoungserver.KakaoLogout</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>NaverOauth</display-name>
    <servlet-name>NaverOauth</servlet-name>
    <servlet-class>com.inyoungserver.NaverOauth</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GoogleOauth</display-name>
    <servlet-name>GoogleOauth</servlet-name>
    <servlet-class>com.inyoungserver.GoogleOauth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembersOk</servlet-name>
    <url-pattern>/MembersOk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginsOk</servlet-name>
    <url-pattern>/LoginsOk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemComfirm</servlet-name>
    <url-pattern>/MemComfirm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberEdit</servlet-name>
    <url-pattern>/MemberEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindId</servlet-name>
    <url-pattern>/FindId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindPw</servlet-name>
    <url-pattern>/FindPw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindIdPw</servlet-name>
    <url-pattern>/FindIdPw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateLevel</servlet-name>
    <url-pattern>/UpdateLevel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KakaoOauth</servlet-name>
    <url-pattern>/KakaoOauth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KakaoLogout</servlet-name>
    <url-pattern>/KakaoLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NaverOauth</servlet-name>
    <url-pattern>/NaverOauth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoogleOauth</servlet-name>
    <url-pattern>/GoogleOauth</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>MySQL</description>
    <res-ref-name>jdbc/bbs</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>TextSubmit</display-name>
    <servlet-name>TextSubmit</servlet-name>
    <servlet-class>com.inyoungserver.TextSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextSubmit</servlet-name>
    <url-pattern>/TextSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbCount</display-name>
    <servlet-name>DbCount</servlet-name>
    <servlet-class>com.inyoungserver.DbCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbCount</servlet-name>
    <url-pattern>/DbCount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentSubmit</display-name>
    <servlet-name>CommentSubmit</servlet-name>
    <servlet-class>com.inyoungserver.CommentSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentSubmit</servlet-name>
    <url-pattern>/CommentSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SnsMoreInfo</display-name>
    <servlet-name>SnsMoreInfo</servlet-name>
    <servlet-class>com.inyoungserver.SnsMoreInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SnsMoreInfo</servlet-name>
    <url-pattern>/SnsMoreInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteText</display-name>
    <servlet-name>DeleteText</servlet-name>
    <servlet-class>com.inyoungserver.DeleteText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteText</servlet-name>
    <url-pattern>/DeleteText</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyText</display-name>
    <servlet-name>ModifyText</servlet-name>
    <servlet-class>com.inyoungserver.ModifyText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyText</servlet-name>
    <url-pattern>/ModifyText</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCmt</display-name>
    <servlet-name>DeleteCmt</servlet-name>
    <servlet-class>com.inyoungserver.DeleteCmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCmt</servlet-name>
    <url-pattern>/DeleteCmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModiCmt</display-name>
    <servlet-name>ModiCmt</servlet-name>
    <servlet-class>com.inyoungserver.ModiCmt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModiCmt</servlet-name>
    <url-pattern>/ModiCmt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplySubmit</display-name>
    <servlet-name>ReplySubmit</servlet-name>
    <servlet-class>com.inyoungserver.ReplySubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplySubmit</servlet-name>
    <url-pattern>/ReplySubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModiReply</display-name>
    <servlet-name>ModiReply</servlet-name>
    <servlet-class>com.inyoungserver.ModiReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModiReply</servlet-name>
    <url-pattern>/ModiReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReply</display-name>
    <servlet-name>DeleteReply</servlet-name>
    <servlet-class>com.inyoungserver.DeleteReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReply</servlet-name>
    <url-pattern>/DeleteReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeCnt</display-name>
    <servlet-name>LikeCnt</servlet-name>
    <servlet-class>com.inyoungserver.LikeCnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeCnt</servlet-name>
    <url-pattern>/LikeCnt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeDelete</display-name>
    <servlet-name>LikeDelete</servlet-name>
    <servlet-class>com.inyoungserver.LikeDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeDelete</servlet-name>
    <url-pattern>/LikeDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMem</display-name>
    <servlet-name>ShowMem</servlet-name>
    <servlet-class>com.inyoungserver.ShowMem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMem</servlet-name>
    <url-pattern>/ShowMem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPhoto</display-name>
    <servlet-name>ShowPhoto</servlet-name>
    <servlet-class>com.inyoungserver.ShowPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPhoto</servlet-name>
    <url-pattern>/ShowPhoto</url-pattern>
  </servlet-mapping>
</web-app>